// Colors
$main-color: var(--color-primary);
$infinte-color: var(--infinte-color);
$main-text-color: var(--main-text-color);

:root {
  --infinte-color: #c9c9c9;
  --main-text-color: #231f1e;
  --main-text-color-dark: #2b2d34;

  /* current */
  --color-primary: #2563EB;
  --color-primary-d: #1d4ed8;
  --color-primary-l: #3b82f6;
  --color-primary-reverse: #ffffff;
  --color-text: #64748b;
  --bg-gray: #f8fafc;
  --color-grey: #f1f5f9;
  --color-light-grey: #e2e8f0;
  /* font-size */
  --font-sm: 0.8685714286rem;
  /* font-family: ; */
  --font-main: "Cairo", sans-serif;

  /* plugins */
  --mm-ocd-width: calc(100% - 51px);
}